In [2]:
import pandas as pd

**Abbrivations**:
> cbs = crime by state
> 
> cbd = crime by district

In [5]:
cbs = pd.read_csv(".././datasets/crime_by_state.csv")
cbs

,STATE/UT,Year,Murder,Assault on women,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,2001,45,69,22,3,2,6,518,950,312,1006
1,ANDHRA PRADESH,2002,60,98,18,0,4,12,568,830,459,1336
2,ANDHRA PRADESH,2003,33,79,27,1,15,4,615,1234,165,1386
3,ANDHRA PRADESH,2004,39,66,28,0,7,20,474,1319,68,1234
4,ANDHRA PRADESH,2005,37,74,21,0,0,9,459,1244,61,1212
...,...,...,...,...,...,...,...,...,...,...,...,...
451,TOTAL (ALL-INDIA),2008,622,1453,477,50,81,224,4134,11465,279,14645
452,TOTAL (ALL-INDIA),2009,629,1350,511,42,67,195,4322,11037,168,15091
453,TOTAL (ALL-INDIA),2010,572,1350,510,41,75,150,4344,10419,143,15039
454,TOTAL (ALL-INDIA),2011,673,1557,616,36,54,169,4247,11342,67,14958
455,TOTAL (ALL-INDIA),2012,651,1576,490,27,40,214,3855,12576,62,14164